<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Python</h1>
    <p>Python is a high-level programming language.</p>

    <h1>click here : <a href="{% url 'home' %}">back page</a></h1>
    <h1>Go back : <a href="{% url 'java' %}">next</a></h1>
</body>
</html>