<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>About 5 places</h1>
    <h2><a href="{% url 'tajmahal' %}">Taj Mahal</a></h2>
    <h2><a href="{% url 'dallake' %}">Dal Lake</a></h2>
    <h2><a href="{% url 'munnar' %}">Munnar</a></h2>
    <h2><a href="{% url 'falls' %}">Dudhsagar Falls</a></h2>
    <h2><a href="{% url 'valley' %}">Yumthang Valley</a></h2>

    
    
</body>
</html>