<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
    <style>
        .a{
            text-align: center;
        }
        .a img{
            height: 500px;
        }
    </style>
<body>

    <a href="{% url 'about' %}"> Go Back</a>
    <h1 style="color: darkseagreen; text-align: center;">Dal Lake</h1>
    <p style="font-size: larger;"><b>Dal</b> is a lake in Srinagar, the summer capital of Jammu and Kashmir, India. It is an urban lake, the <mark>second largest lake in Jammu and Kashmir</mark>, and the most <i>visited place in Srinagar</i> by tourists and locals.</p>
    <div class="a">
        <img src="https://thumbs.dreamstime.com/b/panoramic-landscape-dal-lake-srinagar-india-beautiful-kashmir-98347849.jpg"></img>
    </div>
</body>
</html>