<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
     <style>
        .a{
            text-align: center;
        }
        .a img{
            height: 500px;
        }
     </style>
<body>

    <a href="{% url 'about' %}"> Go Back</a>
    <h1 style="color: darkgreen; text-align: center;">Munnar</h1>
    <p style="font-size: larger;"><b>Munnar</b> is a town in the Western Ghats mountain range in India’s Kerala state. A hill station and former resort for the British Raj elite, it's surrounded by rolling hills dotted with tea plantations established in the late <i>19th century</i>. <mark>Eravikulam National Park,</mark> a habitat for the endangered mountain goat Nilgiri tahr, is home to the Lakkam Waterfalls, hiking trails and 2,695m-tall Anamudi Peak.</p>
    <div class="a">
        <img src="https://img.freepik.com/premium-photo/beautiful-tea-plantations-south-asia_114775-245.jpg?w=2000"></img>
    </div>
</body>
</html>