<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
    .a{
          text-align: center;
          
    }
    
</style>
<body>

    <a href="{% url 'about' %}">Go Back</a>
    <h1 style="color: darkblue; text-align: center;">Taj Mahal</h1>

    <p style="font-size: larger;"><b>The Taj Mahal</b> is an ivory-white marble mausoleum on the south bank of the <i>Yamuna river</i> in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor, Shah Jahan (reigned from 1628 to 1658), to house the tomb of his favourite wife, <mark>Mumtaz Mahal.</mark></p>
<div class="a"><img style="height: 500px;" src="https://purepng.com/public/uploads/large/taj-mahal-lko.png"></img></div>
</body>
</html>