<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
     <style>
        .a{
            text-align: center
        }
        .a img{
            height: 500px;
        }
     </style>
<body>

    <a href="{% url 'about' %}"> Go Back</a>
    <h1 style="color: blue; text-align: center;">Yumthang Valley</h1>
    <p style="font-size: larger;"><b>The Yumthang Valley</b> or Sikkim Valley of Flowers sanctuary, is a nature sanctuary with river, hot springs, yaks and grazing pasture on rolling meadows surrounded by <mark>the Himalayan mountains</mark> in the North Sikkim district of Sikkim state in India.</p>
    <div class="a">
        <img src="https://thumbs.dreamstime.com/b/yumthang-valley-north-sikkim-india-view-snow-mountain-38650794.jpg"></img>
    </div>
</body>
</html>