{% extends 'chairmanapp\index.html' %}
{% block content %}
<style>
    td {
        font-size: 20px;
        font-family: cursive;
        text-transform: capitalize;
        border: 5px double;
        padding: 10px;
        color: black;
    }
</style>
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Registration <small class="text-muted">Welcome to Digital Society</small></h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">



                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Digital
                            Society</a></li>
                    <li class="breadcrumb-item">Registration</li>
                    <li class="breadcrumb-item active">Add Registration</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Add</strong> Registration </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <form action="{% url 'add-registration' %}" method="post">
                        {% csrf_token %}
                        <table border="1" align="center" style="background-color: #01d8da;" cellspacing="10"
                            cellpadding="10">
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" name="name" placeholder="first and last name"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><input type="email" name="email" placeholder="xyz@gmail.com"></td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td><input type="password" name="password" placeholder="*******123"></td>
                            </tr>


                            <tr>
                                <td>Gender:</td>
                                <td><input type="radio" name="gender" value="male">Male
                                    <input type="radio" name="gender" value="female">Female
                                </td>
                            </tr>
                            <tr>
                                <td>Subject:</td>
                                <td id="subjecttd">
                                    <input id="1" onchange="GetSelected()" type="checkbox" name="c" value="C language">C
                                    language
                                    <input id="2" onchange="GetSelected()" type="checkbox" name="c++"
                                        value="C++ language">C++ language
                                    <input id="3" onchange="GetSelected()" type="checkbox" name="py"
                                        value="python">Python
                                    <input id="0" hidden name="subject" value="">

                                </td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>
                                     <select name="city">
                                        <option value="Ahemdabad">Ahemdabad</option>
                                        <option value="Baroda">Baroda</option>
                                        <option value="Gandhinagar">Gandhinagar</option>
                                     </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Contact No.:</td>
                                <td><input type="number" name="contact_no" placeholder="Enter number" maxlength="10">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2"><input type="submit" value="Register" name="submit">
                                    <input type="reset" value="Reset" name="reset">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function GetSelected() {
            var selected = new Array();
            var tdSubject = document.getElementById("subjecttd");
            var chks = tdSubject.getElementsByTagName("INPUT");
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selected.push(chks[i].value);
                }
            }
            if (selected.length > 0) {
                var test = document.getElementById("0");
                test.value = selected.join(",");
            }
        };
    </script>
</section>
{% endblock %}